@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #012a4a, #0d1f2d);
    background-image: url(./media/PanelInstall2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    color: #fffcf2;
}

header {
    border-bottom: 1.5px solid #fffcf2;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    font-size: 26px;
}

header h1 span {
    color: #ff7d00;
}

header nav ul li a {
    color: #fffcf2;
    background-color: #000814;
    padding: 5px 15px;
    margin: 20px;
    transition: 500ms;
    font-size: 20px;
    border-radius: 15px;
}

header nav ul li a:hover {
    color: #000814;
    background-color: #fffcf2;
}

#mainTitle, #menu {
    display: flex;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 30px;
}

h2, h3 {
    color: #ff7d00;
}

#orçamento{
    background-color: #ff7d00;
    color: #fffcf2;
    width: 645px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    transition: 500ms;
    font-size: 20px;
    padding: 15px;
}

#orçamento:hover {
    background-color: #fffcf2;
    color: #ff7d00;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

img {
    margin: 30px;
    border-radius: 15px;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
}

header, footer {
    background: #000814;
    padding: 30px;

}

a, li {
    text-decoration: none;
    list-style: none;
    color: #fffcf2;
}

footer {
    border-top: 1.5px solid #fffcf2;
    display: flex;
    justify-content: space-around;
}

footer ul li a {
    transition: 500ms;
}

footer ul li a:hover {
    color: #ff7d00;
}