@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins';
}

section nav {
    padding: 5px;
    margin: 10px;
}

#mainTitle {
    display: flex;
    justify-content: start;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: end;

}

#mainTitle {
    display: flex;
    justify-content: flex-start;
}

.main {
    background-color: rgba(20, 103, 158, 0.8);
}