@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to right, #012a4a, #0d1f2d);
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    color: #fffcf2;
}

a, li {
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 26px;
}

header nav ul li a {
    color: #fffcf2;
    background-color: #00171f;
    padding: 5px 15px;
    margin: 20px;
    transition: 300ms;
    font-size: 20px;
}

header nav ul li a:hover {
    color: #00171f;
    background-color: #fffcf2;
    border-radius: 15px;
}

#mainTitle, #menu {
    display: flex;
}

.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 20px;
}

#orçamento {
    transition: 500ms;
    font-size: 20px;
    padding: 5px;
    text-decoration: underline;
}

#orçamento:hover {
    background-color: #fffcf2;
    color: #00171f;
    border-radius: 15px;
    text-decoration: none;
}

.images {
    display: flex;
    flex-flow: column nowrap;
}

img {
    margin: 20px;
    border-radius: 15px;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
}

header, footer {
    background: #00171f;
    padding: 15px;
}

header {
    border-bottom: 1.5px solid #fffcf2;
}

footer  {
    border-top: 1.5px solid #fffcf2;
}

ul li a{
    color: #fffcf2;
}

footer ul li a:hover {
    text-decoration: underline;
    transition: 400ms;
}